.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LOGO{
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header__menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  text-decoration: none;
  padding: 10px 20px;
  color: #141414;
  display: block;
}

/* RESPOSIVO */

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}

